############################
# Visual Studio Code
############################

.vscode/
!.vscode/settings.json
.yarnrc
*.swp
*#
.idea
nbproject
.eslintcache

############################
# Yarn & NPM
############################
.npm
.pnp.*
.yarn/*
!.yarn/.gitkeep
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
build
node_modules
.node_history
package-lock.json
**/package-lock.json
!docs/package-lock.json
*.heapsnapshot

############################
# Tests
############################

test-apps
coverage
report.xml

############################
# Builds
############################

dist
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
**/tsconfig.tsbuildinfo
**/tsconfig.build.tsbuildinfo


############################
# Logs
############################

.tmp
*.log
logs
*.log
npm-debug.log*

############################
# Database
############################

.postgres-cache
*.sqlite
*.db
*.db-shm
*.db-wal
*.db-journal

*.sst
*.ldb
*.dbtmp
LOG
LOG.old
CURRENT
LOCK
MANIFEST*
IDENTITY
OPTIONS*

############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Linux
############################

*~

############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

############################
# Secrets
############################

.env

############################
# Docs
############################

docs
api-docs
config-docs
